@import "../../../../../../core/styles/media.scss";

$default-block-size: 50px;
$tablet-block-size: 30px;
$block-border: 2px solid #000000;

.question-number-block {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $default-block-size;
  height: $default-block-size;
  border: $block-border;

  @include media-tablet {
    width: $tablet-block-size;
    height: $tablet-block-size;
  }

  &__text {
    font-size: 3rem;
    line-height: 3.5rem;

    @include media-tablet {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
}
