@import "../../styles/media.scss";

$default-width: 1020px;
$small-laptop-width: 700px;
$tablet-container-width: 100%;
$wrapper-border: 1px solid #000000;

.mainContainer {
  display: flex;
  justify-content: center;

  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  
  width: $default-width;
  border-right: $wrapper-border;
  border-left: $wrapper-border;

  @include media-laptop {
    width: $small-laptop-width;
  }

  @include media-tablet {
    width: $tablet-container-width;
  }
}
