$main-block-border: 1px solid #000000;
$main-height: 400px;

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainContainerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainBlock {
  border: $main-block-border;
  border-radius: 10px;
  width: 70%;
  max-width: 100%;
  height: $main-height;
  max-height: 100%;

  padding: 20px 25px;
  overflow: hidden;
}

.contentBlock {
  overflow: auto;
  flex-grow: 1;
  height: 85%;
}
