$result-link-text-color: #ffffff; 

.results-links {
  display: flex;
  flex-direction: column;

  &__link {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.result-link-item {
  cursor: pointer;
  padding: 5px 15px;

  &:hover {
    opacity: 1 !important;
  }

  &__text,
  &__number {
    font-size: 25px;
    line-height: 30px;
    color: $result-link-text-color;
  }

  &__number {
    font-weight: bold;
    margin-left: 5px;
  }
}
