@import "../../../../../../core/styles/media.scss";

$question-item-size: 80px;
$tablet-question-item-size: 55px;
$mobile-question-item-size: 40px;
$question-item-border: 1px solid #000000;
$question-item-active-shadow: inset 0 0 0 2px #000000;
$disabled-background: rgba(255, 255, 255, 0.6);

.question-item {
  cursor: pointer;
  
  width: $question-item-size;
  min-width: $question-item-size;
  height: $question-item-size;
  border: $question-item-border;
  padding: 10px;
  overflow: hidden;

  @include media-tablet {
    width: $tablet-question-item-size;
    height: $tablet-question-item-size;
    min-width: $tablet-question-item-size;
    min-height: $tablet-question-item-size;
  }

  @include media-mobile {
    width: $mobile-question-item-size;
    height: $mobile-question-item-size;
    min-width: $mobile-question-item-size;
    min-height: $mobile-question-item-size;

    padding: 5px;
  }

  &_active {
    box-shadow: $question-item-active-shadow;
  }

  &_disabled {
    cursor: not-allowed;
    position: relative;

    &::after {
      content: "";

      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      display: block;
      background-color: $disabled-background;
    }
  }

  &__text {
    font-size: 2rem;
    line-height: 2.5rem;

    @include media-tablet {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    @include media-mobile {
      font-size: 1rem;
      line-height: 1rem;
    }

    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    display: block;
    width: inherit;
    height: inherit;
  }
}
