$block-border: 2px solid #000000;
$progress-line-color: #FCEA2A;
$completed-line-color: green;
$default-progress-bar-width: 150px;
$default-progress-bar-height: 25px;

.progress-block {
  &__number-text {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 5px;
  }

  &__progress-bar {
    border: $block-border;
    width: $default-progress-bar-width;
    height: $default-progress-bar-height;
  }

  &__progress-line {
    transition: 0.2s ease width;
    background-color: $progress-line-color;
    height: 100%;

    &_completed {
      background-color: $completed-line-color;
    }
  }
}
