.current-question-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  &__top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
  }

  &__main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__question-number {}

  &__question-number-text {}

  &__button-block {}
}